body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: whitesmoke;
}
main{
  padding: 15px;
}
input{
  width: 500px;
  height: 18px;
}
ul{
  padding: 0;
}
.remover-btn{
  margin-left: 5px;
  background-color: rgb(236, 46, 46);
  border: none;
  color: white;
}
.remover-btn:hover {
  background-color: #cc0000;
}